.App {
  text-align: center;
  color: #02425D;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 3fr, 1fr, 1fr;
  font-size: 1.25rem;
}

.header {
  grid-row: 1/1;
  background-color: #02425D;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr, 2fr, 1fr;
}

.headerImg {
  padding: 2rem;
  grid-column: 1/1;
  grid-row: 1/3
}

.headerTxt {
  grid-column: 2/2;
}

.headerName {
  color: #F17501;
  grid-row: 1/3;
  font-family: 'Cinzel', serif;
}

.nameSpan {
  color: white;
  font-family: 'Cinzel', serif;
}

.headerSlogan {
  color: #F17501;
  grid-row: 2/3;
  font-family: 'Cinzel', serif;
}

.nav {
  background-color: #378846;
  grid-row: 3/3;
  display: grid;
  grid-template-columns: 2;
  font-family: 'Coda Caption', sans-serif;
}

.navLink {
  color: darkorange;
  text-decoration: none;
}

.navLinkOne {
  grid-column: 1/1;
}

.navLinkTwo {
  grid-column: 2/2;
}

.contentContainer {
  background-color: white;
  grid-row: 2/2;
  padding: 2rem, 2rem, 0, 2rem;
}

.lineThick {
  background-color: #378846;
  height: 10px;
}

.lineThin {
  background-color: #378846;
  height: 5px;
}

.pageTitle {
  color: #F17501;
  font-family: 'Cinzel', serif;
}

.itemTitle {
  color: #02425D;
}

.descr {
  color: #378846;
  text-decoration: none;
  font-family: 'Coda Caption', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem

}

.descrList {
  list-style: none
}

.descrListItem {
  text-decoration: none;
}

.descrSpan {
  font-weight: bold;
}

.itemSpan {
  color: #F17501;
  font-family: 'Cinzel', serif;
}

.resourceLink, a {
  text-decoration: none;
  font-family: 'Cinzel', serif;
}

.aboutGrid {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  justify-items: center;
}

.thanksMsg {
  grid-column: 2/2;
}


.aboutImg {
  border-radius: 50%;
  grid-column: 1/1;
  margin: 1rem;
} 

.authorSpan {
  color: #02425D;
  font-weight: bold;
}

.quoteBlock {
  background-color: white;
  grid-row: 3/3;
  padding: 2rem, 2rem, 0, 2rem;
}

.quoteTitle {
  background-color: white;
}

.quote {
  background-color: white;
  font-family: 'Coda Caption', sans-serif;
}

.quotePDF {
  color: white;
}

.footer {
  background-color: white;
  grid-row: 4/4;
  padding: 2rem, 2rem, 0, 2rem;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr, 3fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  justify-items: center;
}

.footerLine {
  grid-column: 1/2;
  grid-row: 1/1;
  background-color: #378846;
  height: 10px;
}

.qr{
  grid-column: 1/1;
  grid-row: 1/1;
  padding: .25rem;
  max-width: 75px;
  max-height: 75px;
}

.footerMsg {
  background-color: white;
  font-family: 'Coda Caption', sans-serif;
  color: #02425D;
  grid-column: 2/2;
  grid-row: 1/1;
}

button {
  background-color: #F17501;
  color: white;
  border: solid 2px #02425D;
  font-family: 'Coda Caption', sans-serif;
}